parameters:
	level: 8
	checkMissingIterableValueType: false
	bootstrapFiles:
		- tests/bootstrap.php
	paths:
		- src/
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$function of function call_user_func expects callable\\(\\)\\: mixed, array\\{Cake\\\\ORM\\\\Table, mixed\\} given\\.$#"
			count: 1
			path: src/Middleware/SocialAuthMiddleware.php
